/* resets css */
*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}

/* começo do header  */
.container{
    width: 100%;
    height: 14vh;
    background-color: #3a5311;
    padding: 0 20px;
}
/* fim do header  */

/* começo do container 1  */
.container1 {
    width: 100%;
    height: 114vh;
    background-repeat: none;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    background-image:linear-gradient( #3a4311, #607d3b);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.problema {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bg-image1{
background-image: linear-gradient(rgba(0,0,0, .7),rgba(0,0,0, .8)),
url(../images/img\ problema.png);
}
/* fim do container 1  */

/* começo do container 2  */
.container2{
    width: 100%;
    min-height: 114vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.bg-image2 {
    background-image: linear-gradient(rgba(0,0,0, .7),rgba(0,0,0, .8)), url();
}
/* fim do container 2  */

/* começo do container 3  */
.container3{
    width: 100%;
    height: 114vh;
    background-repeat: none;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    background-image:linear-gradient( #3a4311, #607d3b);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bg-image3{
    background-image: linear-gradient(rgba(0,0,0, .7),rgba(0,0,0, .8)),
    url(../images/imagem\ inicial.png)
}
/* fim do container 3  */

/* começo do container 4  */
.container4 {
    width: 100%;
    height: 114vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.soluçao {
    padding: 0px 100px 0px 100px;
}

.bg-image4 {
    background-image: linear-gradient(rgba(0,0,0, .7),rgba(0,0,0, .8)), url(../images/zé.jfif);
    
}
/* fim do container 4  */



/* começo do container 5  */
.container5 {
    width: 100%;
    height: 114vh;
    background-repeat: none;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    background-image: linear-gradient(to right, #5a431b, #607d3b);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bg-image5 {
    background-image: linear-gradient(rgba(0,0,0, .7),rgba(0,0,0, .8)), url(../images/img\ irrigação.png);
}
/* fim do container 5  */

/* começo do container 6  */
.container6{
    width: 100%;
    height: 115vh;
    background-repeat: none;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bg-image6{
    background-image: linear-gradient(rgba(0,0,0, .7),rgba(0,0,0, .8)), url(../images/img\ bonita.png);
}
/* fim do container 6  */

/* começo do rodape  */
.container7{
    width: 100%;
    height: 14vh;
    background-color: #3a5311;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* fim do rodape  */

/* estrutura do html  */
html{
    scroll-behavior: smooth;
}

ul,ol{
    list-style: none;
}

body{
    background-color: #3a5311;
}

a{
    color: #DAC8B3;
    font-size: 3vmin;
    text-decoration: none;
}

h1 {
    font-size: 60px;
    font-weight: 100;
    color: #dac8bc;
}

h3{
    padding-top: 30px;
    font-size: 24px;
}

p {
    color: #000;
    font-size: 15px;
    font-weight: 600;
}

form label{
    color: black;
    font-weight: bold;
    display: flex;
    font-size: 26px;
    align-items: center;
}